.header{
    width: 100%;
    padding: 5px 20px;
    position: fixed;
    
  
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3.5rem;
        &__logo{
            color: orangered;
            font-size: 1.25rem;
            font-weight: 600;
        }
        &__list{
            text-align: center;
            display: flex;
            column-gap: 50px;
        }
        &__link{
            color: white;
            font-weight: 500;
            transition: all 0.4s;
            &:hover{
                color: orangered;
            }
            }

    }

}




@media screen and (max-width:850px){
    header .nav__list{
        visibility: hidden;
    }
}